body {
    background-color: grey;
  }
  form {
    display: inline-block;
  }
  input {
    border: solid black 2px;
    font-weight: bold;
  }
  button {
    border-radius: 5px;
    margin: 20px;
    border: solid black 2px;
    font-weight: bolder;
  }
  #searchBtn {
    background-color: orange;
  }
  .gif {
    height: 200px;
    width: 200px;
    padding: 10px;
  }
